<div class="card" style="margin:1rem; margin-top:5rem">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    modifiers
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <button
          class="btn "
          style="margin: 1rem ; background-color: #008080 ; color: #ffffff"
          (click)="openModifierModel(Modifier)"
        >
          <i class="fa fa-plus"></i>
          Add New Modifier
        </button>
      </span>
      <table class="table  table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Description</th>
          <th class="text-center">Price</th>
          <th class="text-center">Maxpicks</th>
          <th class="text-center">Multiselect</th>

          <th class="text-center">Action</th>
        </tr>
        <tr *ngFor="let item of Modifiers; let id = index">
          <!-- <td></td> -->
          <!-- <td>
            <span
              (keyup)="changeValue(id, 'title', $event)"
              (blur)="updateList(id, 'title', $event)"
              contenteditable="true"
              >{{ item.title }}</span
            >
          </td>
          <td>
            <span
              contenteditable="true"
              (keyup)="changeValue(id, 'speaker', $event)"
              (blur)="updateList(id, 'speaker', $event)"
              >{{ item.speaker }}</span
            >
          </td>
          <td>
            <span
              contenteditable="true"
              (keyup)="changeValue(id, 'from', $event)"
              (blur)="updateList(id, 'from', $event)"
              >{{ item.from }}</span
            >
          </td>
          <td>
            <span
              contenteditable="true"
              (keyup)="changeValue(id, 'to', $event)"
              (blur)="updateList(id, 'to', $event)"
              >{{ item.to }}</span
            >
          </td> -->
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.maxpicks }}</td>
          <td>
            <input type="checkbox" [checked]="item.multiselect" disabled />
          </td>

          <!-- <td>
              <span class="table-up">
                <a class="indigo-text">
                  up
                </a>
              </span>
              <span class="table-down">
                <a class="indigo-text">
                  down
                </a>
              </span>
            </td> -->
          <td>
            <span class="table-remove">
              <!-- <button
                type="button"
                mdbBtn
                rounded="true"
                size="sm"
                class="btn btn-danger"
              >
              (click)="remove(item)" -->
              <!-- Remove
              </button> -->
            </span>

            <i
              class="fa fa-pencil"
              style="margin: 4% ; color:#008080 ; font-size: 25px"
              (click)="openEditModal(EditModifier, item)"
            ></i>
            <a (click)="remove(item)">
              <i
                class="fa fa-trash-o"
                style="margin: 4% ;color: red; font-size: 25px"
              ></i>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<ng-template #Modifier>
  <form
    [formGroup]="ModifierForm"
    (ngSubmit)="onSave(ModifierForm.value)"
    style="margin: 10%"
  >
    <h2>
      Add New Modifier
    </h2>
    <div class="form-group">
      <input
        style="margin-top:2rem"
        type="text"
        placeholder="name"
        formControlName="name"
        class="form-control"
        [(ngModel)]="ModifierModel.name"
        required
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        #description
        placeholder="description"
        formControlName="description"
        class="form-control"
        [(ngModel)]="ModifierModel.description"
        required
      />
    </div>

    <div class="form-group">
      <input
        type="number"
        placeholder="price"
        formControlName="price"
        class="form-control"
        [(ngModel)]="ModifierModel.price"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="number"
        placeholder="maxpicks"
        formControlName="maxpicks"
        class="form-control"
        [(ngModel)]="ModifierModel.maxpicks"
        required
      />
    </div>
    <div class="form-check">
      <input
        (change)="OnChange($event)"
        type="checkbox"
        placeholder="multiselect"
        formControlName="multiselect"
        class="form-check-input position-static"
        [(ngModel)]="ModifierModel.multiselect"
        [checked]="ModifierModel.multiselect"
      />
      multiselect
    </div>

    <div class="text-center">
      <button
        class="btn btn-primary mr-1"
        style="background-color: #008080"
        type="submit"
      >
        Add
      </button>
      <button class="btn btn-secondary" type="reset" (click)="modalRef.hide()">
        Cancel
      </button>
    </div>
  </form>
</ng-template>

<ng-template #EditModifier>
  <form
    [formGroup]="ModifierForm"
    (ngSubmit)="editModifier(ModifierForm.value)"
    style="margin: 10%"
  >
    <h2>
      Edit Selected Modifier
    </h2>
    <input
      type="hidden"
      formControlName="_id"
      [(ngModel)]="ModifierModel._id"
    />
    <div class="form-group">
      <input
        style="margin-top:2rem"
        type="text"
        placeholder="name"
        formControlName="name"
        class="form-control"
        [(ngModel)]="ModifierModel.name"
        required
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        #description
        placeholder="description"
        formControlName="description"
        class="form-control"
        [(ngModel)]="ModifierModel.description"
        required
      />
    </div>

    <div class="form-group">
      <input
        type="number"
        placeholder="price"
        formControlName="price"
        class="form-control"
        [(ngModel)]="ModifierModel.price"
        required
      />
    </div>
    <div class="form-group">
      <input
        type="number"
        placeholder="maxpicks"
        formControlName="maxpicks"
        class="form-control"
        [(ngModel)]="ModifierModel.maxpicks"
        required
      />
    </div>
    <div class="form-check">
      <input
        (change)="OnChange($event)"
        type="checkbox"
        placeholder="multiselect"
        formControlName="multiselect"
        class="form-check-input position-static"
        [(ngModel)]="ModifierModel.multiselect"
        [checked]="ModifierModel.multiselect"
      />
      multiselect
    </div>

    <div class="text-center">
      <button
        class="btn btn-primary mr-1"
        style="background-color: #008080"
        type="submit"
      >
        Add
      </button>
      <button class="btn btn-secondary" type="reset" (click)="modalRef.hide()">
        Cancel
      </button>
    </div>
  </form>
</ng-template>
